$font-family-sans-serif:
  // macOS and iOS
  -apple-system, BlinkMacSystemFont, '游ゴシック体',
  // Windows
  YuGothic, 'Yu Gothic Medium',
  // Android
  "Roboto",
  // Basic web fallback
  sans-serif;
$line-height-base: 1.75;
$enable-rounded: false;
